*{
margin: 0;
padding: 0;
font-family: tahoma, arial;
}

header {
    background: url(obraz.jpg) center;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1,h2 {
    text-align: center;
    color: #ddd;
}

h1 {
    font size: 40px;
    margin-bottom: 20px;
}

h2 {
    font-size: 26px;
}

button {
    position: absolute;
    bottom: 20%;
    left: 50%;
    width: 260px;
    height: 70px;
    padding: 20px;
    background-color: brown;
    border: 3px solid darkred;
    color: white;
    font-size: 20px;
    margin-left: -130px;
    cursor: pointer;
}